.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




body {
  background-color: white;
  color: black;

}

.img-style {
  width: 100%;  
}

.mycontainer {
      /* border: white; */
    /* border-style: solid; */
    /* border-radius: 1rem; */
    /* margin-left: 10rem; */
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* margin-top: 4rem; */
    background-color: #5f9ea03d;
}

.cover-bg {
  /* background-image: url("./utils/banner2.png");*/
  background-size: cover;
  height: 50%;
  background-color: rgb(14, 14, 90);


}

.about {
  background-color: rgba(177, 177, 177, 0.192);

}

.automation {
  background-color: rgba(177, 177, 177, 0.295);
  /* border-radius: 0.5rem; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}
.h-spaces {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.announcement {
  background-color: #e4ed60;
  color: black;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: auto;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-link {
  color: rgb(22, 22, 68) !important;
  float: left;
}

.custom-container {
  padding-top: 4rem;

}

.custom-box {
  /* border-color: #dfdfdf;
  border-style: solid;
  border-width: thin;
  border-radius: 0rem; */

}

.custom-box2 {
  border-color: #dfdfdf;
  border-style: solid;
  border-width: thin;
  border-radius: 0rem;
  height: 60rem;
}

.custom-article-p {
  padding-top: 2.3rem;
  color: #b4b4b4;
}

.custom-ar-h {
  padding-top: 1rem;
  background-color: #f9f9f9;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  color: #064ab1;

}


.custom-h2 {
  padding-top: 2rem;
}


.custom-float-right {
  float: right;
}


.custom-float-left {
  float: left;
}


.up-down-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.row.up-down-padding:hover {
  background-color: #f3f3f3;
}


.up-margin {
  margin-top: 1rem;
}